---
import PostNotion from './PostNotion.astro';

const { articles } = Astro.props;

// Extract the results array from the articles object. This is so that the strapiblog page not encounter an error from the interface file
const data = articles.results;

// console.log(data[0].properties.Date);
---

<div class="grid grid-cols-2 gap-x-16 gap-y-14 max-md:grid-cols-1 mb-24">
  {data.map((article) => (
    <PostNotion article={article} />
))}
</div>